* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0px 20px;
    min-height: 75px;
    align-items: center;
    background-color: #eee;
}

header li {
    list-style: none;
}

.logo {
    width: 60vw;
}

.logo img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

nav {
    font-weight: 400;
}

nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

form h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#email {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

#submit {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

@media (max-width: 428px) {

}


#one, #two, #three{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4rem; 
}

.feature-item {
    display: flex;
    
}

.features i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
    font-weight: 900;
    font-size: 5rem;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

#two iframe {
    margin-bottom: 4rem; 
}


.pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.offer-title {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    font-weight: 700;
    font-size: 1.6rem;
}

.offer p {
    margin-top: 15px;
    line-height: 2rem;
}

.offer ul {
    margin: 15px 0;
    list-style: none;
}

.offer ul li {
    padding: 5px 0;
}

.offer h2 {
    margin-top: 15px;
}

.offer-button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}


/* Offers 

.pricing {
    font-size: 1.5rem;
}

.offer{

  display:inline-block;
  margin: 4rem;
  border: thin solid;
  width: calc(100% / 3);
  
  
}

.offer-button{
  background-color: yellow;
  display: flex;
  justify-content: center;
  padding:
}

#labels{
  background-color: #ddd;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1.3rem;
}

#price-details{
  display: flex;
  justify-content: center;

}

.price {
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}

*/